# pixi environments
.pixi/*
!.pixi/config.toml

# Quarto files
/.quarto/
/_site/
/_book/
**/*.quarto_ipynb
**/execute-results/
config/ecosystems/*
content/3_ecosystem_assessments/*
templates/assessment.html
templates/assessment_files/*
templates/crit_b.html
templates/crit_b_files/*

# uv
uv.lock

# Python files
*.pyc
__pycache__/
